# Secrets
secrets.h
.env
*.env

# Arduino
*.ino.precompiled
*.elf
*.hex

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# Database files
*.db
*.sqlite
*.sqlite3


# Logs
*.log

# Export files
*.csv
*.xlsx